/Webserver/nbproject/private/
/Webserver/build/
/Webserver/dist/
Galgeleg/nbproject/private/
Galgeleg/build/
Galgeleg/nbbuild/
Galgeleg/dist/
Galgeleg/nbdist/
Galgeleg/.nb-gradle/
Galgeleg/nbproject/project.properties
*.class
Galgeleg/build/built-jar.properties
!Galgeleg/nbproject/private/private.properties
Galgeleg/nbproject/project.properties
Galgeleg/build/classes/brugerautorisation/transport/soap/Brugeradmin.class
Galgeleg/nbproject/private/private.properties
/GalgelegWeb/nbproject/private/
/GalgelegWeb/build/
*.properties
Galgeleg/build/classes/galgeleg/Galgelogik.class
/GalgelegWeb/dist/
/JavaApplication2/nbproject/private/
Galgeleg/nbproject/private/private.xml

GalgelegApp/build/intermediates/dex-cache/cache.xml
GalgelegWeb/apache-tomcat-8.5.11/logs/localhost_access_log.2017-04-19.txt
