/Webserver/nbproject/private/
/Webserver/build/
/Webserver/dist/
Galgeleg/nbproject/private/
Galgeleg/build/
Galgeleg/nbbuild/
Galgeleg/dist/
Galgeleg/nbdist/
Galgeleg/.nb-gradle/
Galgeleg/nbproject/project.properties
*.class
